/* основной цвет текста  #212121;
цвет текста в акценте background: #FFFFFF;
цвет реакции акцента background: #2196F3;
цвет параграфом и ссылок background: #757575; */
:root {
  --primary-text-color: #212121;
  --general-accent-color: #ffffff;
  --color-of-reaction: #2196f3;
  --paragraph-color: #757575;
}

body {
  background-color: var(--general-accent-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  outline: 2px solid tomato;
}

/* убрала маркеры в списках*/
.list {
  list-style: none;
  display: flex;
}

/* убрала почеркивание в ссылках */

a {
  text-decoration: none;
}

/* оформление хедера */
.header {
  display: flex;
  justify-content: start;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
}

.contact-list {
  margin-left: auto;
}
.contact-list li {
  margin-left: 50px;
  margin-right: 0;
}

.list-nav li {
  margin-right: 50px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-of-reaction);
  margin-right: 50px;
}

.nav-due-site {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.nav-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--color-of-reaction);
}

.link {
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--color-of-reaction);
}

/* Основная страница */
.hero {
  background-color: #212121;
  height: 600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--general-accent-color);
  text-transform: uppercase;

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 30px;
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--general-accent-color);
  background-color: var(--color-of-reaction);

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--paragraph-color);
  color: var(--primary-text-color);
}

/* Основная страница описание деятельности */

}
.about-us-list {
  font-size: 14px;
  line-height: 1.14;
}

.about-us-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-color);
}

.about-work-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.our-team-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraph-color);
}

/* кнопки навигации портфолио */
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--color-of-reaction);
  color: var(--general-accent-color);
}

/* основной контент  */
.content-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content-description {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
}

/* оформление подвала */
.logo-podval {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--general-accent-color);
}
.link-podval {
  color: var(--general-accent-color);
  font-size: 14px;
  line-height: 1.7;
}
.link-podval:hover,
.link-podval:focus {
  color: var(--color-of-reaction);
}
.adress-podval {
  font-size: 14px;
  line-height: 1.7;
  color: var(--general-accent-color);
}
